body {
 background-color: #8dd7d2;
}
.color_{
    color: rgb(255, 146, 29);
}

.grid {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 15px;
}

.box {
 width: auto;
 height: 80px;
 width: 80px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.icon {
 font-size: 35px;
 color: #ffffff;
}
Button{
    size: 100px;
    height: 40px;
    color: rgb(68, 68, 238);
}
